
<div class="container">
<div class="header">
<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
  <a class="navbar-brand" routerLink="">Delica</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto" >
    <li class="nav-item active">
      <a class="nav-link" routerLink="register">Register</a>

    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="login">Login </a>

    </li>
        
    <li class="nav-item">
      <a class="nav-link" routerLink="add">Add Restaurant</a>

    </li> 
        
    <li class="nav-item">
      <a class="nav-link" routerLink="list">List Restaurants</a>

    </li>  
    
    </ul>
  </div>
</nav>
</div>
<div class="content">
  <router-outlet></router-outlet>
  
</div>
<div class="footer" >© 2020 Copyright:
  <a href=""> RestoManagement.com</a>
</div>
</div>
<!--<footer class="page-footer font-small blue">

   Copyright 
  
  Copyright

</footer> -->
<!--<footer>
  <p>Register your restaurant with us</p>
</footer>-->
