<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Delica Restaurant Management</h1>
        <p>This is a simple application for restaurent management. Here you can  add a new restaurant, list  restaurants,  remove   restaurant, and edit  restaurnat details. User can login to this site and can register your restaurents with us.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Angular10</h2>
          <p>Angular is an application design framework and development platform for creating efficient and sophisticated single-page apps. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Bootstrp 4</h2>
          <p>The most popular html, css, javascript library in the world.Bootstrap 4 is the newest version of Bootstrap, which is the most popular HTML, CSS, and JavaScript framework for developing responsive, mobile-first websites. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Json Server</h2>
          <p>Get a full fake REST API with zero coding.Created  for front-end developers who need a quick back-end for prototyping and mocking.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
  
      <hr>
  
    </div> <!-- /container -->
  
  </main>
  
